@model coresuite_asp_dotnet_core_mvc_cs.Models.EnvelopeModel
@{
    ViewData["Title"] = "USEnvelope";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create US Envelope</h2>
<form action="CreateEnvelope" method="post" target="_blank">
    <table border=0>
        <tr><td colspan=2><b>From Address:</b></td></tr>
        <tr><td>Name:</td><td>@Html.TextBoxFor(m => m.FromAddress.Name)</td></tr>
        <tr><td>Address:</td><td>@Html.TextBoxFor(m => m.FromAddress.Address1)</td></tr>
        <tr><td>&nbsp;</td><td>@Html.TextBoxFor(m => m.FromAddress.Address2)</td></tr>
        <tr><td>City:</td><td>@Html.TextBoxFor(m => m.FromAddress.City)</td></tr>
        <tr><td>State:</td><td>@Html.TextBoxFor(m => m.FromAddress.State)</td></tr>
        <tr><td>Zip:</td><td>@Html.TextBoxFor(m => m.FromAddress.Zip)</td></tr>
        <tr><td colspan=2><b>To Address:</b></td></tr>
        <tr><td>Name:</td><td>@Html.TextBoxFor(m => m.ToAddress.Name)</td></tr>
        <tr><td>Address:</td><td>@Html.TextBoxFor(m => m.ToAddress.Address1)</td></tr>
        <tr><td>&nbsp;</td><td>@Html.TextBoxFor(m => m.ToAddress.Address2)</td></tr>
        <tr><td>City:</td><td>@Html.TextBoxFor(m => m.ToAddress.City)</td></tr>
        <tr><td>State:</td><td>@Html.TextBoxFor(m => m.ToAddress.State)</td></tr>
        <tr><td>Zip:</td><td>@Html.TextBoxFor(m => m.ToAddress.Zip)</td></tr>
        <tr><td colspan=2 align=center><input id="btnCreateEnvelope" type="submit" value="Create Envelope" /></td></tr>
    </table>
</form>